In [2]:
text_file = "/content/dataset.txt"
# read all lines at once
with open(text_file, 'r', encoding= 'unicode_escape') as f:
    lines = f.readlines()

In [5]:
import spacy
nlp = spacy.load('en')
foo =[]
cleaned = []
for i in range(len(lines)) :
   t = lines[i].strip('\n')
   k = t.strip('\r')
   j = k.strip('\t')
   h = j.replace('  ',' ')
   foo.append (h)

mystring = ' '.join(map(str,foo))
doc = nlp (str(mystring))

In [11]:
import pandas as pd
result_list = []
for token in doc:
  result_list.append([token.text, token.pos_, token.tag_, token.dep_])

df = pd.DataFrame(result_list, columns=['TEXT', 'POS_', 'TAG_', 'DEP_'])
df.head()

        TEXT   POS_ TAG_      DEP_
0        The    DET   DT       det
1      Fifth  PROPN  NNP      amod
2   Elephant  PROPN  NNP  compound
3          A  PROPN  NNP  compound
4  Discworld  PROPN  NNP  compound

In [12]:
del_dupl = df[~((df.duplicated(['TEXT'])))]

In [13]:
del_dupl

              TEXT   POS_ TAG_      DEP_
0              The    DET   DT       det
1            Fifth  PROPN  NNP      amod
2         Elephant  PROPN  NNP  compound
3                A  PROPN  NNP  compound
4        Discworld  PROPN  NNP  compound
...            ...    ...  ...       ...
139182      sheath   NOUN   NN      pobj
139198  accusatory    ADJ   JJ      amod
139211      softly    ADV   RB    advmod
139297    Confusin  PROPN  NNP  npadvmod
139467         END  PROPN  NNP      ROOT

[9738 rows x 4 columns]

In [14]:
file_name = 'dataset.xlsx'
del_dupl.to_excel(file_name)

In [25]:
import gensim
mystring_str = str(mystring)
processed_lines = gensim.utils.simple_preprocess(mystring_str)
print(processed_lines[0:100])

['the', 'fifth', 'elephant', 'discworld', 'novell', 'by', 'terry', 'pratchett', 'they', 'say', 'the', 'world', 'is', 'flat', 'and', 'supported', 'on', 'the', 'back', 'of', 'four', 'elephants', 'who', 'themselves', 'stand', 'on', 'the', 'back', 'of', 'giant', 'turtle', 'they', 'say', 'that', 'the', 'elephants', 'being', 'such', 'huge', 'beasts', 'have', 'bones', 'of', 'rock', 'and', 'iron', 'and', 'nerves', 'of', 'gold', 'for', 'better', 'conductivity', 'over', 'long', 'distances', 'they', 'say', 'that', 'the', 'fifth', 'elephant', 'came', 'screaming', 'and', 'trumpeting', 'through', 'the', 'atmosphere', 'of', 'the', 'young', 'world', 'all', 'those', 'years', 'ago', 'and', 'landed', 'hard', 'enough', 'to', 'split', 'continents', 'and', 'raise', 'mountains', 'no', 'one', 'actually', 'saw', 'it', 'land', 'which', 'raised', 'the', 'interesting', 'philosophical', 'question', 'when']

In [29]:
model = gensim.models.Word2Vec(
[processed_lines],
negative = 10, # negative sampling how many "noise words" should be drawn
iter = 100,
min_count = 1, # ignores all words with total frequency lower than this
window = 7, # maximum distance between the current and predicted word
size = 40 # dimension of the word vector
)

In [34]:
print(model.wv['commander'])

[-0.49624574 -0.8088185   1.2065322  -0.83723897 -0.8050943  -0.33288932
 -0.9669903  -0.94367045 -1.1784036  -0.08904225  0.7096765   1.4168352
 -0.5051703  -1.5994768   1.1965592  -0.7046504  -0.15424189 -0.13910557
 -1.0772296  -1.1484048   1.2792107   1.3132606   0.64090955 -0.17492379
 -0.29247522 -0.54513437  1.0035291  -0.88238543 -0.7984511   1.0796705
  0.14177993  0.8645603  -0.13818438 -0.5118208  -0.6451316  -0.71984816
  2.3986986   0.6752798   0.7936306  -0.14359277]

In [36]:
print(model.wv.most_similar('lords', topn=5))

[('enforce', 0.9940054416656494), ('banditry', 0.9796366691589355), ('workshops', 0.9702761769294739), ('tenements', 0.9680842161178589), ('whalebone', 0.9547128081321716)]

In [37]:
model.wv.similarity('dwarf', 'he')

0.30446663

In [38]:
model.wv.similarity('mountain', 'mountain')

1.0

In [40]:
model.wv.most_similar_cosmul(positive=['lord', 'he'],negative=['she'])

[('mind', 1.1413027048110962),
 ('pace', 1.1173887252807617),
 ('won', 1.1067078113555908),
 ('lordship', 1.1055054664611816),
 ('nearly', 1.1010586023330688),
 ('stretched', 1.079922080039978),
 ('majorities', 1.0719631910324097),
 ('crowned', 1.0711127519607544),
 ('tragedy', 1.0709635019302368),
 ('cos', 1.0681880712509155)]